<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Data Produk</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="http://localhost:8082/produk">Produk<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="http://localhost:8082/pulsa">Pulsa</a>
      <a class="nav-item nav-link" href="#">Pemesanan</a>
      <a class="nav-item nav-link disabled" href="#">Disabled</a>
    </div>
  </div>
</nav>

  <div class="container">
  	<h2>Data Produk</h2>
  	<a class="btn btn-success btn-sm" th:href="@{/produk/formAdd}" role="button " >Tambah Produk</a>
    <br></br>     			

  		<table class="table"  id="viewDataProduk">
		  <thead>
		    <tr>
		      <th scope="col">Nama</th>
		      <th scope="col">Jenis</th>
		      <th scope="col">Deskripsi</th>
		      <th scope="col">Stok</th>
		      <th scope="col">Harga</th>
		      <th scope="col"> </th>
		    </tr>
		  </thead>
		  
		    <tbody>
			    <tr th:each="i : ${listProduk}">
			      <td scope="row" th:text="${i.nama_produk}"></td>
			      <td th:text="${i.jenis_produk}"></td>
			      <td th:text="${i.deskripsi}"></td>
			      <td th:text="${i.harga}"></td>
			      <td th:text="${i.stock}"></td>
			      
			      <td>
          			<a class="btn btn-outline-danger btn-sm" th:href="@{/produk/hapus/__${i.id_produk}__}" role="button " >Hapus</a>
          			<br/>
          			<a class="btn btn-outline-info btn-sm" th:href="@{/produk/form/__${i.id_produk}__}" role="button ">Edit</a>
               	  </td>
				  </tr>
			  </tbody> 
		</table>

  </div>
</body>
</html>